/* Fonts */
@font-face {
    font-family: 'Cinzel', serif;
    font-family: 'Nanum Myeongjo', serif;
    src: url(https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Nanum+Myeongjo&display=swap);
  }

/* Color palette */
:root {
    --eggplant: #4A2932;
    --redwood: #A34C50;
    --red: #E94445;
    --dun: #CEC2AE;
    --charcoal: #264C5E;
}

/* Animations */
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade {
    animation: fade 5s;
}

@keyframes navSlideIn {
    0% {
        right: 100vw;
    }
    100% {
        right: 0;
    }
}

.navSlideIn {
    animation: navSlideIn 0.5s;
}

@keyframes navSlideOut {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

.navSlideOut {
    animation: navSlideOut 1s;
}

/* General rules */
* {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 15px;
    max-width: 100vw;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}

/* Header */
header section {
    height: 70px;
    background-color: var(--redwood);
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
}

#navButton {
    height: fit-content;
    width: fit-content;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#navButton img {
    height: 50px;
    margin-left: 10px;
    filter: drop-shadow(0 2px 8px #0005);
}

#navDiv {
    position: absolute;
    top: 69px;
    height: calc(100% - 69px);
    z-index: 99;
}

#navegation {
    height: 100%;   
    width: 100vw;
    background-color: var(--charcoal);
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
}

#navegation a {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    color: var(--eggplant);
    text-decoration: none;
    padding: 25px 0 0 20px;
}

#signIn {
    font-family: 'Cinzel', serif;
    height: 30px;
    margin-right: 15px;
    align-self: center;
    border: 1px solid var(--eggplant);
    box-shadow: 0 3px 5px #0007;
}

/* Main */
main {
    background-color: var(--dun);
    position: inherit;
    height: fit-content;
    padding-bottom: 40px;
    flex: 1;    
}

#home {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

#home img {
    filter: drop-shadow(0 5px 8px #0008);
}

#home q, #home p {
    font-size: 1.3rem;
    padding: 0 25px;
}

#home b {
    font-family: 'Cinzel', serif;
    font-size: 1.3rem;
    color: var(--red);
}

#home a {
    font-size: 1.3rem;
    color: var(--red);
}

#signUp, #start, #submit {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    text-shadow: 3px 3px 5px #0007;
    padding: 10px 20px;
    margin: 15px 0 5px;
    width: fit-content;
    align-self: center;
    background-color: var(--redwood);
    box-shadow: 0 5px 8px #0008;
}

#start {
    font-size: 3rem;
    margin: 50% auto 0;
    display: flex;
    align-self: center;
}

#profile {
    display: flex;
    flex-flow: column wrap;
    /* align-content: center; */
    /* justify-content: center; */
    text-align: center;
}

#imgAndName h1:first-child {
    font-size: 2rem;
    padding: 20px 0;
    text-shadow: 0 3px 5px #0006;
}

#imgAndName h1:nth-child(2) {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    color: var(--redwood);
    text-shadow: 0 5px 6px var(--red);
}

#charInfo {
    display: flex;
    flex-flow: column wrap;
    margin-top: 10px;
}

#charInfo h2 {
    font-size: 20px;
    letter-spacing: 2px;
    text-shadow: 0 3px 5px var(--red);
}

#charInfo span {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 15px 0 10px;
    text-shadow: 0 3px 5px var(--red);
}

#charInfo button {
    height: fit-content;
    width: auto;
    border: none;
    background-color: transparent;
    padding: 0;
}

#charInfo img {
    height: 50px;
    margin-bottom: 30px;
}

#statsDiv {
    align-self: center;
    max-width: 90vw;
    margin-bottom: 30px;
}

#charList {
    align-self: center;
}

#charList table {
    text-align: center;
    border-collapse: collapse;
    background-color: #264C5E40;
    width: 100vw;
}

#charList th {
    width: 25%;
    font-family: 'Cinzel', serif;
    margin: 0;
    padding: 5px;
    border: 1px solid var(--redwood);
}

#charList td {
    color: var(--eggplant);
    width: 25%; 
    padding: 10px 5px;
    border: 1px solid var(--redwood);   
}

#noUserChar {
    text-align: center;
    padding: 100px 10px 0;
}

#charForm {
    display: flex;
    flex-flow: column wrap;
    margin: 30px 0;
}

#charForm label, #charForm h2 {
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 0 3px 5px var(--red);
}

#charName {
    font-size: 1.1rem;
    width: 50vw;
    align-self: center;
    margin: 10px 0 40px;
    padding: 5px 10px;
}

#classSelector, #raceSelector, #backSelector {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 20px;
}

#charClass, #charRace, #charBack {
    font-size: 1.1rem;
    text-align: center;
    width: 50vw;
    margin: 20px 0;
    padding: 10px 20px;
}

#classStats li {
    font-size: 1.4rem;
    padding: 0 0 15px;
}

#raceDesc, #backDesc {
    font-size: 1.1rem;
    padding: 0 20px;
    margin: 0 0 30px;
}

#favorite {
    margin: 10px 0 40px;
    width: 30px;
    height: 30px;
    align-self: center;
}



/* Footer */
footer {
    background-color: var(--eggplant);
    text-shadow: 2px 2px 8px #E9444550;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    height: fit-content;
    padding: 10px 0;
}

footer p {
    font-size: 1.2rem;
    margin: 0;
    padding: 5px 0;
}

footer a {
    font-size: 1.2rem;
    color: var(--red);
    text-decoration: none;
    margin-left: 5px;
}
